.header {
    height: 75px;
    border: 1px solid white;
}
@font-face {
	font-family: 'Roboto Condensed'; 
	src: local('Roboto Condensed'),
	url(../Project_FD1/Font/RobotoCondensed-Bold.ttf); 
}
@font-face {
	font-family: 'Ubuntu'; 
	src: local('Ubuntu'),
	url(../Project_FD1/Font/Ubuntu-Bold.ttf); 
}
.logoname {
    font-size: 25px;
    font-weight: bold;
    color: #4664A0;
    font-family: 'Roboto Condensed';
    position: relative;
    padding-right: 45px;
}
.header-logo-icon {
    position: absolute;
    top: -6px;
    left: -35px;
}
.header-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header-calculator {
    background-color: #2E4B85;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-right: 34px;
    padding-left: 65px;
    font-size: 13px;
    position: relative;
    font-family: 'Ubuntu';
    font-weight: 500;
}
.header-calculator-icon {
    position: absolute;
    top: 10px;
    left: 48px;
}
.header-location {
    background: url(../Project_FD1/Pictures/Vector_icon.gif) center left;
    background-repeat: no-repeat;
    padding-left: 22px;
    margin-left: 45px;
}
.header-location-addreas {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 400;
}
.header-number {
    width: 150px;
    margin-left: 45px;
    padding-left: 20px;
    background: url(../Project_FD1/Pictures/icons8-whatsapp-19.png) top left;
    background-repeat: no-repeat;
}
.header-number-tel {
    font-family: 'Ubuntu';
    font-size: 15px;
    font-weight: bold;
}
.header-call {
    font-family: 'Ubuntu';
    font-size: 13px;
    font-weight: 500;
}
.header-instagramm {
    width: 36px;
    height: 36px;
    background: url(../Project_FD1/Pictures/instagr.svg) center center;
    background-repeat: no-repeat;
}
@media screen and (max-width:990px)
{
.header-location {
display: none;
}
.header-number {
display: none;
}
.logoname {
    padding-right: 70px;
}
.header-instagramm {
    margin-left: 45px;
}
}
@media screen and (max-width:640px)
{
.header-location {
    display: none;
}
.header-number {
    display: none;
}
.logoname {
    font-size: 20px;
}
.header-logo-icon {
    position: absolute;
    top: -9px;
    left: -35px;
}
.header-calculator {
    font-size: 10px;
}
.header-instagramm {
    display: none;
}
}
@media screen and (max-width:480px)
{
.header-location {
    display: none;
}
.header-number {
    display: none;
}
.logoname {
    font-size: 20px;
    padding-right: 5px;
}
.header-logo-icon {
    position: absolute;
    top: -9px;
    left: -35px;
}
.header-calculator {
    padding-right: 10px;
    padding-left: 20px;
    font-size: 10px;
}
.header-calculator-icon {
    left: 5px;
}
.header-instagramm {
    display: none;
}
}
@media screen and (max-width:345px)
{
.header-location {
    display: none;
}
.header-number {
    display: none;
}
.logoname {
    font-size: 10px;
    padding-right: 5px;
}
.header-logo-icon {
    position: absolute;
    top: -15px;
    left: -28px;
}
.header-calculator {
    padding-right: 2px;
    padding-left: 2px;
    font-size: 10px;
}
.header-calculator-icon {
    display: none;
}
.header-instagramm {
    display: none;
}
}