.portfolio-page {
    width: 840px;
    margin: 0 auto;
}
.portfolio-title {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.portfolio-object {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 16px;
    width: 540px;
}
.portfolio-item {
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
.portfolio-item img {
    width: 260px;
    height: 184px;
    border-radius: 10px;
}
.portfolio-border {
    border: solid 1px #DEDEDE;
    border-radius: 5px;
    margin-bottom: 30px;
}
.portfolio-btn {
    height: 30px;
    width: 260px;
    border-radius: 10px;
    background-color: #2E4B85;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 15px;
}
.adaptive-item {
    display: none;
}
.adaptive-object {
    display: none;
}
.portfolio-item > li img { 
    transition: transform 0.5s 
}
.portfolio-item > li img:hover { 
    transform: scale(1.1); 
}

/* Адаптив под мобильные устройства */

@media screen and (max-width:880px)
{
.portfolio-page {
    width: 735px;
}
.portfolio-item img {
    width: 240px;
}
.portfolio-object {
    width: 480px;
}
.portfolio-btn {
    width: 230px;
}
}
@media screen and (max-width:760px)
{
.portfolio-item {
    display: none;
}
.adaptive-item {
    display: flex;
    justify-content: space-around;
}
.portfolio-page {
    width: 500px;
}
.portfolio-border {
    display: none;
}
.adaptive-object {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.portfolio-title {
    color: #FFFFFF;
}
.portfolio-object {
    color: #FFFFFF;
}
}
@media screen and (max-width:540px)
{
.portfolio-item {
    display: none;
}
.adaptive-item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.portfolio-page {
    width: 260px;
}
.portfolio-border {
    display: none;
}
.adaptive-object {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.portfolio-title {
    color: #FFFFFF;
}
.portfolio-object {
    color: #FFFFFF;
    margin-top: 20px;
}
.portfolio-item li {
    margin: 0 auto;
}
.portfolio-title {
    text-align: center;
}
.portfolio-object {
    width: 250px;
}
}