div {
    padding: 4px;
}
ol {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
li {
    display: inline-block;
}
.title {
    width: 1320px;
    position: absolute;
}
.title_padding {
    padding-left: 60px;
}
.category {
    padding-left: 112px;
}
.public {
    padding-left: 80px;
}
.comment {
    width: 1500px;
}

@media screen and (max-width:500px)
{
li {
    display: block;
}
.title {
    width: 380px;
    position: relative;
}
.title_padding {
    padding-left: 0px;
}
.comment {
    width: 380px;
}
.category {
    padding-left: 0px;
}
.public {
    padding-left: 0px;
}
select {
    width: 385px;
}
}