div {
    padding: 4px;
}
ol {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
li {
    display: inline-block;
}
.title {
    width: 100%;
}
.title_padding {
    padding-left: 180px;
}
.category {
    padding-left: 112px;
}
.public {
    padding-left: 80px;
}
.comment {
    width: 100%;
}

@media screen and (max-width:500px)
{
li {
    display: block;
}
.title {
    width: 100%;
}
.title_padding {
    padding-left: 0px;
}
.comment {
    width: 100%;
}
.category {
    padding-left: 0px;
}
.public {
    padding-left: 0px;
}
select {
    width: 100%;
}
}