.container {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.one {
    position: absolute;
    top: 3px;
    left: -5px;
}
.two {
    position: absolute;
    top: -5px;
    left: 209px;
}
.three {
    position: absolute;
    top: 70px;
    left: 75px;
    z-index: 1;
}
.four {
    position: absolute;
    top: 208px;
    left: 100px;
}
span.one:hover {
    z-index: 2;
}
span.two:hover {
    z-index: 2;
}
span.four:hover {
    z-index: 2;
}